node_modules
.next
out
build
coverage
public
package.json
package-lock.json
postcss.config.js
tailwind.config.js
tsconfig.json
tsconfig.node.json
postcss.config.mjs
next.config.mjs
jsconfig.json
README.md

.gitignore
.prettierignore
.prettierrc
.eslintrc.json
.eslintrc
.env